a[class="navbar-brand"] {
  padding-top: 5px;
  padding-top: 0.5rem;
}
img[alt="Brand"] {
  height: 20px;
  height: 2rem;
  width: 80px;
  width: 8rem;
}
.dropdown-menu {
  left: -50px;
  left: -5rem;
}
